---
import TestimonialItem from "./TestimonialItem.astro";

const {
  title,
  subTitle,
  testimonials
} = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  testimonials?: Testimonial[];
}

// TypeScript type for testimonials
type Testimonial = {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
};
---

<section class="flex flex-col items-center mx-auto px-4 py-10 sm:px-6 lg:px-8 lg:py-14 max-w-screen-xl">
  <!-- Container for the testimonials -->
  <div class="text-center mb-8">
    <!-- Title and Subtitle -->
    <h2 class="mb-2 text-3xl font-bold text-neutral-800 dark:text-neutral-200 lg:text-4xl">
      {title}
    </h2>
    {subTitle &&
      <p class="text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
    }
  </div>

  {testimonials && (
    <div class="grid gap-8 sm:grid-cols-1 lg:grid-cols-2 w-full">
      {testimonials.map((testimonial) => (
        <TestimonialItem
          content={testimonial.content}
          author={testimonial.author}
          role={testimonial.role}
          avatarSrc={testimonial.avatarSrc}
        />
      ))}
    </div>
  )}
</section>
