---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs1 from "../components/sections/features/FeaturesNavs1.astro";
import FeaturesNavs2 from "../components/sections/features/FeaturesNavs2.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.jpg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/feature-image.jpg";
import equipos from "@images/equipos.jpg";
import serfin from "@images/serfin.jpg";
import nichos from "@images/nichos.jpg";
import comedorInstitucional from "@images/comedor-institucional.jpg";
import controlMedico from "@images/control-medico.jpg";
import talleres from "@images/talleres.jpg";

const avatarSrcs: Array<string> = [
  "https://i.ibb.co/y5Xw6vp/avatar4.jpg",
  "https://i.ibb.co/1JwV9TR/avatar3.jpg",
  "https://i.ibb.co/YZD32Qc/avatar2.jpg",
  "https://i.ibb.co/qFYnj0K/459222121-3709749409264399-2374079369401872309-n.jpg"
];
---

<MainLayout>

  <HeroSection
    title=`Sociedad de Beneficencia de <span
        class="text-yellow-500 dark:text-yellow-400">Motupe</span>`
    subTitle="Trajamos junto con el pueblo."
    primaryBtn="Nuestros Servicios"
    primaryBtnURL="/servicios"
    secondaryBtn="Contáctanos"
    secondaryBtnURL="/contacto"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Más de <span class="font-bold">1k</span> Beneficiarios`
    src={heroImage}
    alt="Presidente de la Sociedad de Beneficencia de Motupe"
  />

  <ClientsSection
    title="Con el apoyo de líderes de la industria"
    subTitle="Experiencia y confiabilidad en nuestros servicios."
  />

  <FeaturesGeneral
    title="Protegiendo a los más vulnerables"
    subTitle="Tenemos un conjunto de programas de apoyo para poblaciones vulnerables y desprotegidas, siempre velando por su bienestar integral."
    src={featureImage}
    alt="Características de nuestros servicios"
    features={features}
  />

  <FeaturesNavs1
    title=`Nuestros Servicios<span class="text-yellow-500 dark:text-yellow-400"> Generales</span>`
    tabs={[
      {
        heading: "Servicio Funerario Integral",
        content:
          "En momentos difíciles estamos para darte todo el soporte necesario y cumplir con los" +
          " protocolos todos fúnebres.",
        svg: "tools",
        src: serfin,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true
      },
      {
        heading: "Adquisición de nichos",
        content:
          "Adquiere tu nicho con precios adsequibles y puedas dar cristiana sepultura a tus seres" +
          " queridos",
        src: nichos,
        svg: "dasboard",
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true
      },
      {
        heading: "Préstamo de equipos de soporte médico",
        content:
          "Puedes solicitar tu préstamo de balones de oxígeno, camillas, sillas de ruedas, etc.",
        svg: "house",
        src: equipos,
        alt: "Gray metal building frame near tower crane during daytime"
      }
    ]}
  />

  <PricingSection pricing={pricing} />

  <FeaturesNavs2
    title=`Nuestros Servicios de <span class="text-yellow-500 dark:text-yellow-400">Protección Social</span>`
    tabs={[
      {
        heading: "Comedor Institucional",
        content:
          "En momentos difíciles estamos para darte todo el soporte necesario y cumplir con los" +
          " protocolos todos fúnebres.",
        svg: "tools",
        src: comedorInstitucional,
        alt: "Los beneficiarios reciben sus alimentos diarios es nuestro comedor Institucional Señor" +
          " de la Misericordia",
        first: true
      },
      {
        heading: "Controles básicos de salud",
        content:
          "Los controles de salud son muy importantes, y nuesta institución son una prioridad" +
          " examinar y detectar a tiempo posibles riesgos de salud de nuestros beneficiarios",
        src: controlMedico,
        svg: "christmas",
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true
      },
      {
        heading: "Talleres de Actividades de Desarrollo",
        content:
          "Realizamos de manera recurrente talleres que fomente el desarrollo y curiosidad por" +
          " ciertos oficios.",
        svg: "house",
        src: talleres,
        alt: "Taller de peinados"
      }
    ]}
  />

  <TestimonialsSection
    title="Muchos testimonios"
    subTitle="Son cientos las personas que brindan una opinión positiva sobre nuestros programas."
    ;
    testimonials={[
      {
        content:
          "El apoyo que me brindaron fue estupendo, me ayudó mucho a cumplir mis metas.",
        author: "Juanito Pérez",
        role: "Estudiante de la IE Señor de los Milagros",
        avatarSrc:
          "https://i.ibb.co/1JwV9TR/avatar3.jpg"
      },
      {
        content:
          "El apoyo que me brindaron fue estupendo, me ayudó mucho a cumplir mis metas.",
        author: "Juanito Pérez",
        role: "Estudiante de la IE Señor de los Milagros",
        avatarSrc:
          "https://i.ibb.co/1JwV9TR/avatar3.jpg"
      }
    ]}
  />

  <FAQ title="Preguntas frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Unidos podemos más"
    subTitle="Puedes convertirte en un colaborador y apoyar a lo más desfavorecidos."
    url="/contacto"
  />
</MainLayout>
